--url https://msasg.visualstudio.com/DefaultCollection/Skyman
#
# NOTE: you need to supply your own personal access token created via your DevOps account settings
#
--pipeline-id 4833
--reference-branch refs/heads/master
--query-id b9cac9a2-fdc8-41ec-a8f8-4ca2903a4c25
--bug-area-path Skyman\Carbon\Speech\Tests
--bug-iteration-path Skyman\Carbon
--bug-tag CICD
--auto-file-threshold 3
--repository-id c01407a1-8dbe-4bbf-8f73-668d96a579c2
--artifact-paths Windows x86:Windows/Win32/Release/public/lib/Microsoft.CognitiveServices.Speech.core.dll;Windows x64:Windows/x64/Release/public/lib/Microsoft.CognitiveServices.Speech.core.dll;UWP ARM64:WindowsUwp/ARM64/Release/public/lib/Microsoft.CognitiveServices.Speech.core.dll;Linux x86:Linux-x86-Release/public/lib/libMicrosoft.CognitiveServices.Speech.core.so;Linux x64:Linux-x64-Release/public/lib/libMicrosoft.CognitiveServices.Speech.core.so;Android ARM64:Android/Android-arm64/Release/public/lib/libMicrosoft.CognitiveServices.Speech.core.so;Vision Windows x64:Windows/x64/Release/public/vision/lib/Azure-AI-Vision-Core-Native.dll;Vision Linux x64:Linux-x64-Release/public/vision/lib/libAzure-AI-Vision-Core-Native.so;Vision Android Java arm64:AndroidVision/Android-arm64/Release/public/lib/libAzure-AI-Vision-java-bindings.so
--num-reference-builds 25
--num-pull-requests 35
--failure-ignore-patterns ^/Users/runner/work/1.*
--branch-prefix refs/heads/
--auto-close-after-days 7
